<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction History</title>
    <link rel="stylesheet" href=".\css\style.css" />
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <section class="content">
      <nav class="navbar">
        <ul>
          <li v-for="(page, index) in pages" :key="index">
            <a
              class="navLinks"
              :class="{active: activePage == index}"
              :href="page.link.url"
              :title="'This link goes to the ${page.link.text} page'"
              @click.prevent="activePage = index"
              >{{page.link.text}}</a
            >
          </li>
        </ul>
      </nav>

      <page-viewer id="pagecontent" :page="pages[activePage]"></page-viewer>
      <div v-for="(page, index) in pages" :key="index" 
          class="infoCard" v-show="activePage !== 0" 
        <div class="infoContent">
          <p><b>Transaction</b></p>
          <p>{{Math.floor(Math.random() * 12) + 1}}/{{Math.floor(Math.random() * 30) + 1}}/2024</p>
          <p>${{Math.floor(Math.random() * 375)}}</p>
        </div>
        <hr class="solid">
      </div>
    </section>

    <!-- VUE APP -->
    <script>
      let app = Vue.createApp({
        data() {
          return {
            activePage: 0,
            pages: [
              {
                link: { text: "History", url: "app.html" },
                pageTitle: "Transaction History",
                pageContent: "This is your transaction history.",
              },
              {
                link: { text: "Invest", url: "app.html" },
                pageTitle: "Investments",
                pageContent: "This is your investment history.",
                
              },
              {
                link: { text: "Exchange", url: "app.html" },
                pageTitle: "Currency Exchange",
                pageContent: "This is your currency exchange history.",
                
              },
              {
                link: { text: "Budget", url: "app.html" },
                pageTitle: " Budgeting",
                pageContent: "This is your budget history.",
                
              },
            ],
            
          };
        },
      });

      app.component("page-viewer", {
        props: ["page"],
        template: `      
          <div class="container">
            <h1>{{page.pageTitle}}</h1>
            <p>{{page.pageContent}}</p>
          </div>
        `,
      });

      app.mount("body");
    </script>
  </body>
</html>
