*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.content {
	max-width: 50%;
	margin: auto auto;
  border: 3px solid black;
}


.navbar {
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.navbar .active {
  color: #6789c3;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #6789c3;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}
.navbar ul li:hover:after {
  width: 100%;
}


/* Bordered form */
form {
	border: 3px solid #f1f1f1;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  background-color: #fff;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button {
	background-color: #5483c5;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
	opacity: 0.8;
}

/* Demo Warning Text */
.warning {
	text-align: center;
	margin: 24px 0 12px 0;
  color: #f44336;
}

/* Add padding to containers */
.container {
	padding: 16px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
}
